[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  margin: 0;
  
  &:focus {
  }
}


button,
.button {
  border: none;  
}

.button {
  float: left;
  height: 100%;;
}


.orbit-container {
  min-height: 460px;
}

.button.primary {
  color: white;
  &:hover {
    color: white;
  }
}

.button.green {
  background: mediumseagreen;;
  &:hover {
    background: seagreen;;
  }
}