<!--dropdown-panes-->
<div class="dropdown-pane c-pane-apps" id="js-my-apps" data-dropdown data-auto-focus="true">
  <form class="c-add-app">
    <div class="c-3ple-line">
      <div class="c-3ple-line__start -semi-trans"><i class="icon-th-thumb"></i></div>
      <div class="c-3ple-line__center"><input class="" type="text" placeholder="Filter you apps"></div>
      <div class="c-3ple-line__end">
        {{> btn-search}}
        </div>
    </div>
  </form>
  <div class="c-pane-apps__list">
    <!--start row-->
    <div class="c-pane-apps__item">
      <div class="c-app-item -light-bg">
      <div class="c-app-item__icon"><img src="{{thepage.img}}" alt="{{thepage.title}}"></div>
      <div class="c-app-item__title">{{thepage.title}}
        <div class="c-app-item__sub">{{thepage.info}}</div>
      </div>
      <div class="c-app-item__type">
        <span class="show-for-sr">from Apple AppStore</span>
        <span aria-hidden="true"><i class="icon-apple -semi-trans"></i></span>
      </div>
    </div>
    <div class="c-pane-apps__control">
      {{> btn-edit}}
      {{> btn-delete}}
    </div>
  </div>
    
  <!--start row-->
  <div class="c-pane-apps__item">
    <div class="c-app-item -light-bg">
      <div class="c-app-item__icon"><img src="{{tinder.img}}" alt="{{tinder.title}}"></div>
      <div class="c-app-item__title">{{tinder.title}}
        <div class="c-app-item__sub">{{tinder.info}}</div>
      </div>
      <div class="c-app-item__type">
        <span class="show-for-sr">from Google Playstore</span>
        <span aria-hidden="true"><i class="icon-android -semi-trans"></i></span>
      </div>
    </div>
    <div class="c-pane-apps__control">
      {{> btn-edit}}
      {{> btn-delete}}
    </div>
  </div>
</div>
</div>