
.icon-android:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-award:before { content: '\e80c'; } /* '' */
.icon-gaming:before { content: '\e80d'; } /* '' */
.icon-award-1:before { content: '\e80e'; } /* '' */
.icon-megaphone:before { content: '\e80f'; } /* '' */
.icon-chart-outline:before { content: '\e810'; } /* '' */
.icon-chart-alt:before { content: '\e811'; } /* '' */
.icon-chart:before { content: '\e812'; } /* '' */
.icon-chart-bar:before { content: '\e813'; } /* '' */
.icon-chart-pie-1:before { content: '\e814'; } /* '' */
.icon-004-war-1:before { content: '\e815'; } /* '' */
.icon-005-war:before { content: '\e816'; } /* '' */
.icon-trash-empty:before { content: '\e817'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */
.icon-cog:before { content: '\e819'; } /* '' */
.icon-cog-alt:before { content: '\e81a'; } /* '' */
.icon-cog-1:before { content: '\e81b'; } /* '' */
.icon-cog-outline:before { content: '\e81c'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-crown-plus:before { content: '\e845'; } /* '' */
.icon-crown-minus:before { content: '\e846'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */